.bg-img{
    position: absolute;
    z-index: -10;
}
.w3-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    top: 90px;
    -ms-transform: translateY(90px);
    transform: translateY(90px);
    height: 470px;
}

.logo{
    width: 350px;
}

.test-txt{
    color: #01b4dc;
}

.all-in{
    margin-left: 90px;
    margin-top: 80px;
}

.pop{
    width: 50px;
    margin-top: 10px;
}

.slot{
    width: 50px;
    margin-top: 15px;
}

.w3-row{
    margin-top: 50px;
}

.start-btn{
    background-color: black;
    color:white;
    width: 190px;
    height: 70px;
    border-radius: 10px;
    float: right;
}

hr {
    border: 1px dotted #ff0000;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;
}

#second-container{
    background-color: #ff0000;
    height: 140px;
}

.blik{
    position: relative;
    top: 0px;
}