.bg-img{
    position: absolute;
    z-index: -10;
}
.w3-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    top: 90px;
    -ms-transform: translateY(90px);
    transform: translateY(90px);
    height: 700px;
}

.logo{
    width: 350px;
}

.test-txt{
    color: #01b4dc;
}

.all-in{
    margin-left: 90px;
    margin-top: 80px;
}

.pop{
    width: 50px;
    margin-top: 10px;
}

.slot{
    width: 50px;
    margin-top: 15px;
}

.w3-row{
    margin-top: 50px;
}